/*
!ssh/
!dhcp/
!aliases
!group
!passwd
!hosts
!apt/
!locale
yoda/
!scripts/
!*.sh
!extra_exercises/
!cron.d/
!networkd-dispatcher/
!ntpsec/
!bind/named.conf.local
!bind/named.conf.options

!apache2/sites-available/000-default.conf
!apache2/sites-available/www1.conf
!apache2/sites-available/www2.conf
!apache2/sites-available/secure.conf
!apache2/sites-available/supersecure.conf

!mysql/
!dovecot/
!Muttrc
