/*
!ssh/
!dhcp/
!aliases
!group
!passwd
!hosts
!apt/
!locale
yoda/
!scripts/
!*.sh
!extra_exercises/
!cron.d/
!networkd-dispatcher/
!ntpsec/
!bind/named.conf.local
!bind/named.conf.options
!apache2/sites-available/000-default.conf
!apache2/www1.conf
!apache2/www2.conf
apache2/
!mysql/
!dovecot/
