/*
!ssh/
!dhcp/
!aliases
!group
!passwd
!hosts
!apt/
!locale
yoda/
!scripts/
!*.sh
!extra_exercises/
!cron.d/
!networkd-dispatcher/
!ntpsec/
!bind/
/etc/bind/named.conf.yoda-zones
/var/lib/bind/yoda_zone_*
