[Match]
Name = eth0

[Network]
Description = Interface eth0 autoconfigured by PVE
Address = 193.191.176.194/24
Gateway = 193.191.176.254
Address = 2001:6a8:2880:a020::c2/64
Gateway = 2001:6a8:2880:a020::fe

DHCP = no
IPv6AcceptRA = false
